<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="devy.americano.backend.mapper.NewsMapper">

    <select id="selectAllNews" resultType="devy.americano.backend.domain.News">
        select * from news
        order by reg_date desc
        ;
    </select>

    <insert id="insertNews">
        insert or ignore into news ( publisher_rss_no, title, link, description, pub_date, image, author )
        values ( #{publisherRssNo}, #{title}, #{link}, #{description}, #{pubDate}, #{image}, #{author} );
    </insert>

</mapper>