<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="devy.americano.backend.mapper.NewsMapper">

    <select id="selectAllNews" resultType="devy.americano.backend.domain.News">
        select * from news
        order by reg_date desc
        ;
    </select>

    <select id="selectNewsNotYet" resultType="devy.americano.backend.domain.News">
        select * from news
        where title is null
          or link is null
          or description is null
          or pub_date is null
          or image is null
         and card_type = 0
        order by reg_date desc
        limit 0, 1
        ;
    </select>

    <select id="selectNewsContents" resultType="devy.americano.backend.domain.NewsContents">
        select
            n.news_no,
            pr.name as publisher,
            pr.favicon,
            n.title,
            n.link,
            n.description,
            n.pub_date,
            n.image,
            n.author,
            n.card_type
        from news n
        join publisher_rss pr on pr.publisher_rss_no = n.publisher_rss_no
        where n.title is not null
          and n.link is not null
          and n.description is not null
          and n.pub_date is not null
          and n.image is not null
          and n.card_type = 1 or n.card_type = 2
        order by n.reg_date desc
        limit #{offset}, #{limit}
        ;
    </select>

    <insert id="insertNews">
        insert or ignore into news ( publisher_rss_no, title, link, description, pub_date, image, author, card_type )
        values ( #{publisherRssNo}, #{title}, #{link}, #{description}, #{pubDate}, #{image}, #{author}, #{cardType} );
    </insert>

    <update id="updateNews">
        update news
        set title = #{title},
            link = #{link},
            description = #{description},
            image = #{image},
            pub_date = #{pubDate},
            author = #{author},
            reg_date = #{regDate}
        where
            news_no = #{newsNo}
        ;
    </update>

    <delete id="deleteOldNews">
        delete from news
        where pub_date &lt; #{date};
    </delete>

</mapper>