<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="devy.americano.backend.mapper.PublisherMapper">

    <select id="selectAllPublisher" resultType="devy.americano.backend.domain.Publisher">
        select * from publisher
        ;
    </select>

</mapper>